{
    "extends": [
        "eslint:recommended"
    ],
    "env": {
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module"
    },
    "rules": {
        "quotes": [
            "error",
            "single"
        ],
        "no-unused-vars": [
            "error",
            {
                "args": "after-used",
                "argsIgnorePattern": "^_"
            }
        ],
        "no-param-reassign": "error",
        "comma-style": [
            "error",
            "first"
        ],
        "no-shadow": "error",
        "indent": [
            "error",
            4
        ],
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 2
            }
        ]
    }
}